#about {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    font-size: xx-large;
}

h4 {
    display: flex;
    justify-content: center;
    
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 20px;
    height: 100px;
    width: 315px;
    padding: 30px;
    margin: 20px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.btn--contact {
    display: flex;
    justify-items: center;
    margin: 25px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 5px 40px black;
    background-color: black;

}


img {
    height: 30vh;
    border-radius: 50%;
    box-shadow: 0px 5px 40px grey;
    
}

@media (min-width: 768px) {

    h2 {
        margin-bottom: 0px;
    }

    h4 {
        font-size: x-large;
    }

    img {
        height: 45vh;
    }
    
    .box {
        display: flex;
        
        
    }
    
    .first-section {
        display: flex;

    }

    .person {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 70px;
        padding-left: 70px;
        }

    

}



